@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    font-size: 62.5%;
    width : 100%;
    height: 100%;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    margin : 0 ;
    padding: 0;
    height: 100%;
    font-size: 1.4rem;
}

h1 {
    font-size: 2.4rem;
    color: #0C383E;
}
h1 a {
   text-decoration: none;
}


.container_item {
    margin: 0 auto 0;

}


.landing-page-container {
    width : 100%;
    min-height: 100%;
    height: 100vh;
    background-image: url('../img/forest1.png') ;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    display: table;
    font-family: 'Montserrat' , sans-serif;
    color : #09383E;
}

.content-wrapper {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/*Nav*/

.header {
    width: 100%;
    height: 2rem;
    padding: 3rem 0;
    font-family: 'PT Sans' , sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-icon {
    width: 2rem ;
    height: 1.5rem;
    display:inline-block;
    cursor: pointer;
}

.header_item {
    display: inline-block;
}

.menu-icon__line {
    width: 1.5rem;
    height: .2rem;
    background: #0C383E;
    display: block;
}

.menu-icon__line::before , .menu-icon__line::after {
    content: '';
    width: 1.5rem;
    height: 0.2rem;
    background: #0C383E;
    display: inline-block;
    position: relative;
}

.menu-icon__line::after {
    top : -1.8rem;
}
.menu-icon__line::before {
    left: .5rem;
    top : -0.6rem;
}

.heading {
    width : 90%;
    font-size: 2rem;
    line-height: 1.7rem;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;

}

.heading a {
    color :#0C383E;
}
.heading span{
    color : #00e676;
    font-weight: bold;



}

.social-container {
    width : 7.5rem;;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float :right;

}

.social-container .social_icon {
    width: 2rem;
    float: left;
    cursor: pointer;
    
}

.social-container .social_icon a {
    text-decoration: none;
    color: #0C383E;
}
.social-container .social_icon a:hover {
    text-decoration: none;
}
.coords {
    font-size: 1.5rem;
    display: inline-block;
    float: left;
    position: relative;
    top : 40%;
    letter-spacing: 0.2rem;
    left: -15rem;
    margin: 0;
    transform: rotate(-90deg) translateY(50%);
}

.ellipse-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top : 7rem;
}

.ellipse-container .greeting {
    position: relative;
    top : 18rem;
    left: -6rem;
    right: 0;
    margin : 0 ;
    text-transform: uppercase;
    letter-spacing: 4rem;
    font-size: 8rem;
    font-weight: 400;
    opacity: .5;
}

.ellipse-container .greeting::after{
    content: '';
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #0C383E;
    position: relative;
    top : -0.65rem;
    left: -5.05rem;
}

.ellipse {
     border-radius: 50%;
     position: absolute;
     top :0;
     border-style: solid;

}
.ellipse__outer--thin{
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9,56,62,.01);
    animation : ellipseOrbit 15s ease-in-out infinite;
}

.ellipse__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: #09383E transparent;
    border-width: 3px;
    transform: rotate(-45deg);
    animation: ellipseRotate 15s ease-in-out infinite;

}

.ellipse__orbit {
    width : 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: #09383E;
    top : 5rem;
    right: 6.75rem;

}
.ellipse__orbit::before {
    content: '' ;
    width : 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #09383E;
    margin: 0 auto;
    left : 0 ;
    right: 0;
    top : 50%;
    position: absolute;
    transform : translateY(-50%);
}


/**arrow-bottom **/
.arrow-bottom {    
    width: 30px;
    height: 58px;
    border: 2px solid #09383E;
    border-radius: 60px;
    position: absolute;
    bottom: 1%;
    left: 48%;
}
.arrow-bot {
    position: absolute;
    top : 5%;
    left : 30%;
    opacity: 1;
    animation: mouse 2s infinite;
}

/* .arrow-bottom::after{
    content: '';
    color: #09383E ;
    position: absolute;
    bottom: 2%;
    left : 50%;
    font-size: 1.5rem;
    animation: mouse 3s infinite;
} */

/** page 2 **/


.about-me {
  background-image: url('../img/showcase_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0;
  height: 100vh;
  position: relative;
}
.box {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 40px;
  margin: 0 auto;
  margin-top: 13%;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  right: 33%;
  display: block;
  overflow: hidden;
  transition: 1s;
}
.box .name {
  font-weight: 200;
  font-size: 2rem;
}
.avt-img {
  width: 200px;
  height: 200px;
  height: auto;
}
.icon__arrow-right  {
    position: absolute;
    right : 30px;
    top : 230px;
    cursor: pointer;
    font-size: 3rem;

}

/**box 2**/
.box2 {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    margin-top: 13%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    left: -100%;
    display: block;
    overflow: hidden;
    transition: 1s;
  }
  .box2 .name {
    font-weight: 200;
    font-size: 2rem;
  }
  .avt-img {
    width: 200px;
    height: 200px;
    height: auto;
  }
  .icon__arrow-left {
    position: absolute;
    left : 30px;
    top : 230px;
    cursor: pointer;
    font-size: 3rem;
      
  }

/** Icon social**/
i {
    width: 3rem;
    height: 3rem;
}
.social-icon {
    position: absolute;
    left: 35%;

}
.social-icon li {
    list-style: none;
    float: left;
    width: 30px;
}

.social-icon li a {
    text-decoration: none;
    color :#43a047;
}
.social-icon li a:hover {
    text-decoration: none;
    color : white;
}
.social-icon li a i {
    transition: all 1s;
}

.social-icon li a:hover i {
    transform: scale(2)
}

.align {
}

.icon__line {
    width: 1.5rem;
    height: .2rem;
    background: #0C383E;
    display: none;
    cursor: pointer;
}

.icon__line::before{
    content: '';
    width: 1.5rem;
    height: 0.2rem;
    background: #0C383E;
    display: inline-block;
    position: relative;
}

.icon__line::before {
    left : 2rem;
    top : -.9rem;
}


/** Footer */
footer {
    min-height: 5vh;
    width : 100%;
    background-color :#212121;
    padding: 0;
    margin-top: -15px;
    font-family: sans-serif;
}
footer p {
    text-align: center;
    padding: 1.5rem 0;
    color :white;
}



@keyframes ellipseRotate {
    0% {
        transform: rotate(-45deg)
    }
    100% {
        transform: rotate(-405deg)
    }
}
@keyframes ellipseOrbit {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes mouse {
    from {
        opacity: 1;
        top: 5%;
    }
    to {
        opacity: 0;
        top: 90%;
    }
}
